@import './menuContainer.scss';
@import './menuItem.scss';
@import "./about.scss";
@import "./navigation-styles.scss";




$main-text-color: #707070;
$header-blue: #55AAFF;
$main-text-font: 'Montserrat', sans-serif;
$header-font: 'Roboto', sans-serif;



html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: $main-text-font;
    // background-color: #fdfdfd;
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

.footer {
    background-color: #55AAFF;
    height: 100%;
    width: 100%;
    font-family: $main-text-font;
    font-size: 1em;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin-top: 30px;
}

.footer > .white-logo-footer {
    display: flex;
    justify-content: center;
    width: 60px;
    opacity: 0.5;
}


.footer > .white-logo-footer img {
    height: 150px;
    padding: 20px;

}


.footer > .links-footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


  
.homeWrapper {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 80vw;
}

.homeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.homeContent > h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $header-blue;
    font-family: $header-font;
    font-size: 6em;
}

.homeContent > h1:before,
h1:after {
   content: '';
   border-top: 2px solid;
   margin: 0 20px 0 0;
   flex: 1 0 20px;
}

.homeContent > h1:after {
   margin: 0 0 0 20px;
}

.homeContent > p {
    color: $main-text-color;
    font-family: $main-text-font;
    font-size: 2em;
}

.about-module  h1 {
    color: $header-blue;
}


