$main-text-color: #707070;
$header-blue: #55AAFF;
$main-text-font: 'Montserrat', sans-serif;
$header-font: 'Roboto', sans-serif;

.menuItem {
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    .h4 {
        margin-top: 10px;
    }
}

.menuImage {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.content {
    text-align: center;
}