.mainContainer {
    color: #707070;
    width: 80vw;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-bottom: 30px;
}
.flavors {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    font-size: 4.3em;
    letter-spacing: 15px;
    height: 67px;
    
    width: 300px;
    border-bottom: solid 2px #707070;

    
}
.header {
    margin-top: 50px;
}

.flavorContainer {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-row-gap: 100px;
    justify-items: center;
}